<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>Bem vindo ao app da Calculadora</h1>
    <br>
    <form action="/calcular">
        <h1><label for="">Digite um numero: </label></h1>
        <input type="text" name="numero1" /><br>
        <h1><label for="">Digite outro numero: </label></h1>
        <input type="text" name="numero2" /><br>
        <input type="submit" value="Calcular" />
    </form>
</body>
</html>