<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultados: </h1>
    <p>Resultado da soma entre {{n1}} e {{n2}} é: {{results['soma']}}. </p>
    <p>Resultado da multiplicação entre {{n1}} e {{n2}} é: {{results['multiplicação']}}. </p>
    <p>Resultado da divisão entre {{n1}} e {{n2}} é: {{results['divisão_inteira']}}. </p>
    <p>Resultado da subtração entre {{n1}} e {{n2}} é: {{results['subtração']}}. </p>
    <p>Resultado da divisão fracionada entre {{n1}} e {{n2}} é: {{results['divisão_fracionada']}}. </p>
    <p>Resultado da raiz entre {{n1}} e {{n2}} é: {{results['raiz']}}. </p>
    <p>Resultado da resto da divisão entre {{n1}} e {{n2}} é: {{results['resto_da_divisão']}}. </p>
    <a href="/">Voltar para a pagina inicial, clique AQUI</a>
</body>
</html>